
.ftaddSpecialist{
    background: white;
}

.ftbackgroundModal{
    background:#18340C;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 2%;
    width: 100vw;
    height: 98%;
  }

/*------ Prompts ----- */
.ftAddSp{
    position: absolute;
    width: 100%;
    top : 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Spinnaker';
    font-style: normal;
}

.ftpromptEmailSp{
    position: absolute;
    width: 100%;
    top : 35%;
    left:23%;
    font-family: 'Spinnaker';
    font-style: normal;
  color: #18340C;

}

.ftpromptPassSp{
    position: absolute;
    width: 100%;
    top : 48%;
    left:23%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;

}


/*----- Inputs -----*/

.ftpasswordSp{
    position: absolute;
    text-align: center;
    top: 48%;
    left: 48%;
    width: 30%;
    height: 8%;
    border-radius: 20px;
}

.ftemailSp{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 48%;
    width: 30%;
    height: 8%;
    border-radius: 20px;
}



.ftaddConcludeSp{
    position: absolute;

    top: 67%;
    left: 23.5%;
    height: 8%;
    width: 55%;



    background: #F07444;
    border-radius: 20px;
    font-size: 13px;
    color:green;

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

color: #18340C;
}


.ftwhiteShadow{

    
    position: relative;

    width: 60vw;
    height: 80vh;
    top: 2vh;
    bottom: 2vh;

    
    left : 20vw;
    
    

    background: #FEFFFE;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}



/*----- PopUp ------*/


.ftboxConfirm{
    background:  white;
    opacity: 100;
    height: 60vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;
  
  
  }
  
  .ftinputNum{
    position: absolute;
    left : 32%;
    height: 8%;
    width: 35%;
    top: 25%;
    text-align: center;
    border-radius: 30px;
  }
  
  .ftbuttonPaypal {
    background-image: url(../images/PayPal.jpeg); /* 16px x 16px */
    background-repeat: no-repeat ;
    width: 20%;
    height: 33%;
    border-radius: 5%;
    vertical-align: middle; /* align the text vertically centered */
    position:absolute;
    left: 30%;
    scale: 0.8;
    top: 50%;
  }
  
  .ftbuttonMaestro {
    background-image: url(../images/visa.jpeg); /* 16px x 16px */
    background-repeat: no-repeat ;
    width: 20%;
    height: 33%;
    border-radius: 5%;
    vertical-align: middle; /* align the text vertically centered */
    position:absolute;
    left: 50%;
    scale: 0.8;
    top: 50%;
  }
  
 
  
  .submitButton{
    scale: 0.7;
  }
  
  .ftclosePop{
    position: absolute;
    width: 8%;
    scale: 0.6;
    right:5%;
    top:5%;
  
    height: 8%;
  
  
  
    background: #F07444;
    border-radius: 20px;
    font-size: 13px;
    color:green;
  
    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  
  color: #18340C;
  }


/*------ PopUp Text ------*/

.fth1Pop{
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;

}

.fth2Pop{
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;

}

.fth3Pop{
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
 
}

.ftselectWay{
    position: absolute;
    left : 35%;
    top: 40%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
  }