
.ftaddSpecialist{
    background: white;
}

.ftbackgroundModal{
    background:#18340C;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 2%;
    width: 100vw;
    height: 98%;
}

/*------ Prompts ----- */
.ftAddSp{
    position: absolute;
    width: 100%;
    top : 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Spinnaker';
}

.ftpromptEmailSp{
    position: absolute;
    width: 100%;
    top : 35%;
    left:23%;
    font-family: 'Spinnaker';
    color: #18340C;

}

.ftpromptPassSp{
    position: absolute;
    width: 100%;
    top : 48%;
    left:23%;
    font-family: 'Spinnaker';
    color: #18340C;
}


/*----- Inputs -----*/

.ftpasswordSp{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 48%;
    width: 30%;
    height: 8%;
    border-radius: 20px;
    border: 1px solid grey;
}

.ftemailSp{
    position: absolute;
    text-align: center;
    top: 33%;
    left: 48%;
    width: 30%;
    height: 8%;
    border-radius: 20px;
    border: 1px solid grey;

}



.ftaddConcludeSp{
    position: absolute;

    top: 67%;
    left: 23.5%;
    height: 8%;
    width: 55%;

    color: #F07444;
    border-radius: 20px;
    font-size: 13px;
    background-color:white;
    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    border : 1px solid #F07444;
}


.ftwhiteShadow{

    
    position: relative;

    width: 60vw;
    height: 80vh;
    top: 2vh;
    bottom: 2vh;

    
    left : 20vw;
    
    

    background: #FEFFFE;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}



.fth2PopAdmin{
    font-family: 'Spinnaker';
    color: #18340C;
    position: absolute;
    text-align: center;
    top:25%;
    left : 33%
}

.fth3PopAdminEmail{
    font-family: 'Spinnaker';
    color: #18340C;
    position: absolute;
    text-align: center;
    top:45%;
    left : 33%
}

.fth3PopAdminPass{
    font-family: 'Spinnaker';
    color: #18340C;
    position: absolute;
    text-align: center;
    top:60%;
    left : 33%
}

.ftgoBackImg{
    position: absolute;
    left: 22vw;
    top: 16vh;
    z-index: 2;
    scale: 0.8;
}


.ftboxConfirmAdmin{
    background:  white;
    opacity: 100;
    height: 50vh;
    width: 45vw;
    position: absolute;
    left: 27.5vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;


}