
.ftaddSpecialistDark{
    background: black;
    height: 100vh;
}

.ftbackgroundModal{
    background:#18340C;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 2%;
    width: 100vw;
    height: 98%;
}

/*------ Prompts ----- */
.ftAddSpDark{
    position: absolute;
    width: 100%;
    top : 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Spinnaker';
    color: white;
}


.ftpromptUsernameSpDark{
    position: absolute;
    width: 100%;
    top : 33%;
    left:23%;
    font-family: 'Spinnaker';
    color: white;

}

.ftpromptEmailSpDark{
    position: absolute;
    width: 100%;
    top : 46%;
    left:23%;
    font-family: 'Spinnaker';
    color: white;

}

.ftpromptPassSpDark{
    position: absolute;
    width: 100%;
    top : 59%;
    left:23%;
    font-family: 'Spinnaker';
    color: white;
}


/*----- Inputs -----*/

.ftpasswordSpDark{
    position: absolute;
    text-align: center;
    top: 56%;
    left: 48%;
    width: 30%;
    height: 8%;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: #635d5f;
    color: white;
    font-size: medium;
}

.ftemailSpDark{
    position: absolute;
    text-align: center;
    top: 43%;
    left: 48%;
    width: 30%;
    height: 8%;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: #635d5f;
    color: white;
    font-size: medium;
}


.ftUsernameSpDark{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 48%;
    width: 30%;
    height: 8%;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: #635d5f;
    color: white;
    font-size: medium;
}

.ftUsernameSpDark::placeholder{
    color: white;
    opacity: 1;
    font-size: medium; 

}

.ftemailSpDark::placeholder{
    color: white;
    opacity: 1;
    font-size: medium; 

}

.ftpasswordSpDark::placeholder{
    color: white;
    opacity: 1;
    font-size: medium; 
}


.ftaddConcludeSpDark{
    position: absolute;

    top: 75%;
    left: 23.5%;
    height: 8%;
    width: 55%;

    color: #F07444;
    border-radius: 20px;
    font-size: 13px;
    background-color:#635d5f;
    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    border : 1px solid #F07444;
}

.ftaddConcludeSp:active{

    color: #FEFFFE;
    background-color: #F07444;

}


.fth2PopAdminDark{
    font-family: 'Spinnaker';
    color: black;
    position: absolute;
    text-align: center;
    top:25%;
    left : 33%
}

.fth3PopAdminUsernameDark{
    font-family: 'Spinnaker';
    color: black;
    position: absolute;
    text-align: center;
    top:41%;
    left : 33%
}

.fth3PopAdminEmailDark{
    font-family: 'Spinnaker';
    color:black;
    position: absolute;
    text-align: center;
    top:53%;
    left : 33%
}

.fth3PopAdminPassDark{
    font-family: 'Spinnaker';
    color: black;
    position: absolute;
    text-align: center;
    top:65%;
    left : 33%
}

.ftgoBackImgDark{
    position: absolute;
    left: 22vw;
    top: 16vh;
    z-index: 2;
    scale: 0.8;
}

.ftgoBackImgDark:hover{
    cursor: pointer;
}


.ftboxConfirmAdminDark{
    background:  #A9A9A9;
    opacity: 100;
    height: 50vh;
    width: 45vw;
    position: absolute;
    left: 27.5vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;

}

.fterrorAddEx{
    position: absolute;
    top:68%;
    left:43%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: red;
}


.goBackImg2{
    position: absolute;
    z-index: 2;
    left: 21vw;
    top: 12vh;
}

.goBackImg2:hover{
    cursor: pointer;
}

.goBackImg3{
    position: absolute;
    z-index: 2;
    left: 21vw;
    top: 15vh;
}

.goBackImg3:hover{
    cursor: pointer;
}


.ftgoBackImgDark{
    position: absolute;
    left: 22vw;
    top: 16vh;
    z-index: 2;
    scale: 0.8;
    filter: invert(100%);
}