
body{
    background-color: white;
}

/*------ Popup -----*/
.ftbackgroundModal{
    background:#18340C;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 2%;
    width: 100vw;
    height: 98%;
}


/*----- IdSaldo.js-----*/

.ftsquareDiv{
    position: relative;
    height: 25%;
    width: 100%;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.25), 0px 1px rgba(0, 0, 0, 0.25);

}

.ftuserDiv{
    position: absolute;
    width: 100%;
    top : 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftvalDiv{
    position: absolute;
    width: 100%;
    top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ftusername{
    color: #18340C;
}

.ftval{
    color: #18340C;

}



/*----- Inputs -----*/
.ftselectSport{
    position: absolute;
    text-align: center;
    top:29%;
    left: 51%;
    width: 30.5%;
    height: 7%;
    border-radius: 30px;
    background-color: white;
    border: 1px solid black;
}

.ftselectPartA{
    position: absolute;
    text-align: center;
    top:38%;
    left: 51%;
    width: 30%;
    height: 7%;
    border-radius: 25px;
    border: 1px solid black;

}

.ftselectPartB{
    position: absolute;
    text-align: center;
    top:48%;
    left: 51%;
    width: 30%;
    height: 7%;
    border-radius: 25px;
    border: 1px solid black;

}

.ftoddA{
    position: absolute;
    text-align: center;
    top:  60%;
    left: 51%;
    width: 8%;
    border-radius: 25px;
    height: 7%;
    border: 1px solid black;
}

.ftoddB{
    position: absolute;
    text-align: center;
    top: 60%;
    left: 73%;
    width: 8%;
    height: 7%;
    border-radius: 25px;
    border: 1px solid black;

}

.ftoddTie{
    position: absolute;
    text-align: center;
    top: 60%;
    left: 62.5%;
    width: 8%;
    height: 7%;
    border-radius: 25px;
    border: 1px solid black;
}


/*----- Texts -----*/


.ftInsertData{
    position: absolute;
    top : 10%;
    left: 18%;
    font-family: 'Spinnaker';
    color: #18340C;
}

.ftpromptSport{
    position: absolute;
    width: 100%;
    top : 30%;
    left: 18%;
    font-family: 'Spinnaker';
    color: #18340C;
}

.ftpromptParticipantA{
    position: absolute;
    width: 100%;
    top : 40%;
    left: 18%;
    font-family: 'Spinnaker';
}



.ftpromptParticipantB{
    position: absolute;
    width: 100%;
    top : 50%;
    left: 18%;
    font-family: 'Spinnaker';
    color: #18340C;
}




.ftpromptOdds{
    position: absolute;
    width: 100%;
    top : 60%;
    left: 18%;
    font-family: 'Spinnaker';
    color: #18340C;
}



.ftadd{
    position: absolute;

    left: 33%;
    bottom: 10vh;
    height: 8%;
    width: 33%;

    background: #F07444;
    border-radius: 20px;
    font-size: 13px;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;

    border: 1px solid #F07444;

    color: white;
}


.whiteShadow{

    position: relative;

    width: 60vw;
    height: 80vh;
    top: 2vh;
    bottom: 2vh;
    
    left : 20vw;

    background: #FEFFFE;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.goBackImg{

    position: absolute;
    left: 15px;
    top: 15px;
}

.fth1Pop{
    margin-top: 20vh;
}

