.betHistoryDiv{
    position: relative;
    width: 85%;
    height : 60%;
    left : 15%;
    top : 8%
}

button{
    
    background: #F07444;
    border-radius: 20px;
    font-size: 13px;
    

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: white;

    
}

button:hover {
    background-color: white;
    color:#F07444;    
}

.simpleBut{
    position: absolute;
    top: 0%;
}

.multipleBut{
    position: absolute;
    top: 0%;
    left: 50%;
}

.goBack{
    position: absolute;
    left:35%;
    width : 10%;
    font-size: 25px;

}   
