
.expertGameCenter{
    display: flex;
    justify-content: center;
    height: 80vh;
}

.expertGameTitle{
    font-family: 'Spinnaker';
    text-align: center;
    margin-top: 5vh;
}

.expertGame{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    height: 50vh;
    align-items: center;
}

.resultExpertTitle {
    font-family: 'Spinnaker';
    text-align: center;
}

.resultExpertInput{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #F07444;
    width: 50px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.resultExpert{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.centerButton{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.buttonConfirmExpertGame{
    background: #F07444;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Spinnaker';
    font-size: 24px;
    width: 12vw;
    height: 6vh;
    border: 1px solid black;
}

.backgroundModalExpert{
    background:#18340C;
    opacity: 0.5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.boxConfirmExpert{
    background:  white;
    opacity: 4;
    height: 50vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 30vh;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}

.gridExpertMotoGP{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.4vw;
    row-gap: 1em; 
    width: 51vw;
    font-size: 13px;
    margin-left: 10px;
}

.participantSelected{
    text-align: center;
    border-radius: 10px;
    background-color: #F07444;
    height: 50px;
    width: 100px;
    border: 1px solid #F07444;
}

.participant{
    text-align: center;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border: 1px solid #F07444;
}

.pExpert{
    font-family: 'Spinnaker';
    margin-top: 40px;
    position: absolute;
    top: 40px;
    left: 21vw;
}