
.contentAdmin{
    position: absolute;
    width: 60vw;
    height: 80vh;
    top: 6vh;
}

.adminImg1{
    position: absolute;
    height: 30px;
    left:21vw;
    top: 8.5vh;
}

.adminImg2{
    position: absolute;
    height: 22px;
    left:21.2vw;
    top: 22vh;
}

.adminImg3{
    position: absolute;
    height: 22px;
    left:21.2vw;
    top: 35vh;
}

.adminImg4{
    position: absolute;
    height: 22px;
    left:21.2vw;
    top: 48.2vh;
}


.ButtonsAdmin{
    position: relative;
    width: 25vw;
    background: white;
    border-radius: 10px;
    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    border: 1px solid #F07444;
    color: #F07444;
    display: block;
    margin: 8vh 10px 10px 20vw;
    padding: 5px 5px 5px 5px;
    text-indent: 20px;
}



.ButtonsAdmin:active{
    background-color: #F07444;
    color: #FEFFFE;
}

.contentExpert{
    display: flex;
    justify-content: space-around;
}


.ButtonsExpert1{
    height: 50px;
    width: 20vw;
    background: white;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 25px;
    border: 1px solid #F07444;
    color: #F07444;
    margin-left: 40px;
    margin-top: 35vh;
}

.ButtonsExpert2{

    height: 50px;
    width: 20vw;
    background: white;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 25px;
    border: 1px solid #F07444;
    color: #F07444;
    margin-right: 40px;
    margin-top: 35vh;

}


.ButtonsExpert1:active{

    background: #F07444;
    color: white;

}

.ButtonsExpert2:active{

    background: #F07444;
    color: white;

}

.whiteShadow{
    position: relative;

    width: 60vw;
    height: 80vh;
    top: 2vh;
    bottom: 2vh;
    
    left : 20vw;

    background: #FEFFFE;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

