.BemVindo{

    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-style:normal;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 47px;
    color: #18340C;

}

input{
    height: 8%;
    width: 80%;
    text-align: center;
    

    border: 1px solid #18340C;
    border-radius: 40px;
}



.userName{
    
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 8%;
}

.password{
    position: absolute;
    text-align: center;
    top: 42%;
    left: 10%;
    width: 80%;
    height: 8%;


}

.aceder{
    position: absolute;

    top: 62%;
    left: 10%;
    height: 8%;
    width: 80%;



    background: #F07444;
    border-radius: 20px;
    font-size: 13px;
    color:green;

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

color: #18340C;
}


.rasbetLogo{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    position: absolute;
    width: 25%;
    

}

.inputs{
    position: absolute;
    top : 5%;
    left: 3%;
    bottom: 5%;
    width : 40%;
    height: 90%;
    
}

.noAccount{
    position: absolute;
    bottom: 18%;
    font-size: 1rem;
    color: #18340C;
    left: 40.5%;
}

.noAccountHyper{
    position: absolute;
    bottom: 18%;
    font-size: 1rem;
    color: #18340C;
    left: 42%;
}

.noPass{
    position: absolute;
    bottom: 45%;
    color: #18340C;
    right: 10% ;
}