.page{
    background-color: #18340C;
    position: absolute;
    height: 100%;
    top: 0%;
    width: 100%;
}

.logImage{
    
    position: absolute;
    top: 2%;
    bottom: 2%;
    right: 1.5%;
    width: 47%;
    height: 96%;
}


.imageRight{
    width: 100%;
    height: 100%;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.mainLog{

    
    position: relative;

    width: 90vw;
    height: 88vh;
    top: 6vh;
    bottom: 6vh;
    
    left : 5vw;
    
    

    background: #FEFFFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


/*------ InputsLogIn ------*/

.inputs{
    position: absolute;
    top : 5%;
    left: 3%;
    bottom: 5%;
    width : 40%;
    height: 90%;
    
}

/*------ InputsLogIn Texts ------*/

.ftwelcomeTitle{

    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-style:normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #18340C;
    font-family: 'Spinnaker';

}

.ftnoAccount{
    position: absolute;
    bottom: 18%;
    font-size: 15px;
    color: #18340C;
    left: 37%;
    font-family: 'Spinnaker';
}

.ftnoAccountHyper{
    position: absolute;
    bottom: 14%;
    font-size: 13px;
    color: #18340C;
    left: 40%;
    font-family: 'Spinnaker';
    text-decoration: underline;
    
}

.ftnoAccountHyper:hover{
    cursor: pointer;
}

.ftnoPass{
    position: absolute;
    bottom: 43%;
    color: #18340C;
    right: 10% ;
    font-family: 'Spinnaker';
    font-size: 10px;
    text-decoration: underline;

}

.ftnoPass:hover{
    cursor: pointer;
}


/*------ InputLogIn Input -----*/


.ftuserNameLog{
    
    position: absolute;
    top: 33%;
    left: 10%;
    width: 80%;
    height: 8%;

    text-align: center;
    

    border: 1px solid #18340C;
    border-radius: 40px;
}

.ftpasswordLog{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 10%;
    height: 8%;
    width: 80%;
    text-align: center;
    

    border: 1px solid #18340C;
    border-radius: 40px;


}

.ftacederLog{
    position: absolute;

    top: 65%;
    left: 10%;
    height: 8%;
    width: 80%;

    background: #F07444;
    border-radius: 20px;
    color: #18340C;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    border: 1px solid #F07444;

    color: #18340C;
}


.ftrasbetLogo{
    border-radius: 20px;

    width: 30%;
}




.fterrorLogIn{
    position: absolute;
    top:59%;
    left:29%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: red;
}

