.page{
    background-color: #18340C;
    position: absolute;
    height: 100%;
    top: 0%;
    width: 100%;
}

.logImage{


    position: absolute;
    top: 2%;
    bottom: 2%;
    right: 1.5%;
    width: 47%;
    height: 96%;
}


.imageRight{
    width: 100%;
    height: 100%;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.mainLog{

    
    position: relative;

    width: 90vw;
    height: 88vh;
    top: 6vh;
    bottom: 6vh;
    
    left : 5vw;
    
    

    background: #FEFFFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


/*------ InputsLogIn ------*/

.inputs{
    position: absolute;
    top : 5%;
    left: 3%;
    bottom: 5%;
    width : 40%;
    height: 90%;
    
}

/*------ InputsLogIn Texts ------*/

.ftwelcomeTitle{

    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-style:normal;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 47px;
    color: #18340C;
    font-family: 'Spinnaker';
    font-style: normal;

}

.ftnoAccount{
    position: absolute;
    bottom: 18%;
    font-size: 1rem;
    color: #18340C;
    left: 40.5%;
    font-family: 'Spinnaker';
    font-style: normal;
}

.ftnoAccountHyper{
    position: absolute;
    bottom: 18%;
    font-size: 1rem;
    color: #18340C;
    left: 42%;
    font-family: 'Spinnaker';
    font-style: normal;
}

.ftnoPass{
    position: absolute;
    bottom: 45%;
    color: #18340C;
    right: 10% ;
    font-family: 'Spinnaker';
    font-style: normal;
}


/*------ InputLogIn Input -----*/


.ftuserNameLog{
    
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 8%;

    text-align: center;
    

    border: 1px solid #18340C;
    border-radius: 40px;
}

.ftpasswordLog{
    position: absolute;
    text-align: center;
    top: 42%;
    left: 10%;
    height: 8%;
    width: 80%;
    text-align: center;
    

    border: 1px solid #18340C;
    border-radius: 40px;


}

.ftacederLog{
    position: absolute;

    top: 62%;
    left: 10%;
    height: 8%;
    width: 80%;



    background: #F07444;
    border-radius: 20px;
    font-size: 13px;
    color:green;

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

color: #18340C;
}


.ftrasbetLogo{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    position: absolute;
    width: 30%;
    

}


/*----- regAccount -----*/


.ftRegisterTitle{

    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-style:normal;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 47px;
    color: #18340C;
    font-family: 'Spinnaker';
    

}

.ftnameReg{
    
    position: absolute;
    top: 28%;
    width: 80%;
    height: 7%;
    border-radius: 30px;
    left: 10%;
    text-align: center;
    border-radius: 30px;

}

.ftemailReg{
    
    position: absolute;
    top: 38%;
    width: 80%;
    height: 7%;
    border-radius: 30px;
    left: 10%;
    text-align: center;
}

.ftpassswordReg{
    position: absolute;
    top: 48%;
    border-radius: 30px;

    width: 80%;
    height: 7%;
    left: 10%;

    text-align: center;
}

.ftNIFReg{
    
    position: absolute;
    top: 78%;
    width: 38%;

    left: 53%;
    height: 7%;    
    text-align: center;
    border-radius: 30px;
}

.ftbirthdateReg{
    
    position: absolute;
    top: 68%;
    width: 38%;
    left: 53%;
    height: 7%;
    text-align: center;
    border-radius: 30px;
}

.ftaddressReg{
    
    position: absolute;
    top: 58%;
    width: 80%;
    height: 7%;
    left: 10%;
    text-align: center;
    border-radius: 30px;
}

.ftphoneReg{
    
    position: absolute;
    top: 78%;
    width: 38%;
    height: 7%;
    left: 10%;
    text-align: center;
    border-radius: 30px;
}

.ftCCReg{
    
    position: absolute;
    top: 68%;
    width: 38%;
    height: 7%;
    left: 10%;
    text-align: center;
    border-radius: 30px;
}


.acceder{
    position: absolute;

    left: 10%;
    height: 8%;
    width: 80%;
    top: 92%;



    background: #F07444;
    border-radius: 20px;
    font-size: 13px;
    

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #18340C;
}

.regAccount{
    position: absolute;
    top : 5%;
    left: 3%;
    bottom: 5%;
    width : 40%;
    height: 90%;
    
}

