.ftrofile{
    background-color: white;
}

.ftbackgroundModal{
    background:#18340C;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 2%;
    width: 100vw;
    height: 98%;
  }
  

.ftwhiteShadow{
    position: relative;
    width: 60vw;
    height: 80vh;
    top: 2vh;
    bottom: 2vh;
    left : 20vw;
    background: #FEFFFE;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/*----- IdSaldo.js-----*/

.ftsquareDiv{
    position: relative;
    height: 20%;
    width: 100%;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.25), 0px 1px rgba(0, 0, 0, 0.25);

}

.ftuserDiv{
    position: absolute;
    width: 100%;
    top : 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftvalDiv{
    position: absolute;
    width: 100%;
    top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ftusername{
    color: #18340C;
    font-family: 'Spinnaker';
    font-style: normal;
}

.ftval{
    color: #18340C;
    font-family: 'Spinnaker';
    font-style: normal;   

}




/*----- ChangeData -----*/



.changeDataOutDiv{
    position: relative;
    width: 85%;
    height : 60%;
    left : 15%;
    top : 10%
}

/*----- ChangeData inputs-----*/

.ftinputName{
    position: absolute;
    height: 12%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 40px;
    top:33%;
    text-align: center;
}

.ftinputSurname{
    position: absolute;
    height: 12%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 40px;
    top : 52%;
}

.ftinputPass{
    position: absolute;
    height: 12%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 40px;
    top:72%;
}

/*----- ChangeData titles----*/

.clickHistory{
    position: absolute;
    top:15%;
    left: 0%;
    color: #18340C;
    font-size: 19px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.hName{
    position: absolute;
    top:35%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.hSurname{
    position: absolute;
    top:55%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.hPassword{
    position: absolute;
    top:75%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}




/*----- ChangeData buttons -----*/

.ftLogout:active{
    color: white;
    background-color:#F07444;
}

.fttakeOut:active {
    color: white;
    background-color:#F07444;
}

.ftdeposit:active {
    color: white;
    background-color:#F07444;

    
}



.ftLogout{

    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
    
    top: -10%;
    left: 10%;
}


.fttakeOut{
    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
    left: 32%;
    top: -10%;
}


.ftdeposit{
    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    font-size: 13px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
    right: 28%;
    top: -10%;
}



.ftChange{
    position: relative;

    height: 9%;
    width: 5%;

    background: white;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #18340C ;
    
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    top:14%;
    left:35%;
    font-family: 'Spinnaker';
    color: #18340C;

}

.ftConfirm{
    position: absolute;

    height: 15%;
    width: 18%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    background-color: white;
    
    top: 80%;
    left: 60%;
}


.ftChangeSec:active{
    color: white;
    background-color:#F07444;
}

.ftChangeSec{

    position: absolute;

    height: 15%;
    width: 18%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    background-color: white;
    
    top: 80%;
    left: 30%;
}




/*----- BetHistory ----- */

.ftDivBetHist{
    position: relative;
    width: 100%;
    height : 95%;
    left : 0%;
    top : 0%
}


.betHistoryDiv{
    position: absolute;
    width: 85%;
    height : 60%;
    left : 12%;
    top : 20%;
    overflow-y: scroll;
}

.buttonHistoryDiv{
    position: absolute;
    width: 85%;
    height : 60%;
    left : 15%;
    top : 10%;
}

/*----- BetHistory Buttons----- */


.ftsimpleBet:active {
    color: white;
    background-color:#F07444;    
}

.ftmultipleBet:active {
    color: white;
    background-color:#F07444;    
}

.ftsimpleBet{
    position: absolute;
    color: #F07444;
    border-radius: 10px;
    font-size: 13px;
    
    height: 15%;
    width: 25%;
    top: -5%;
    left:8%;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
}

.ftsimpleBetSelected{
    position: absolute;
    color: white;
    border-radius: 10px;
    font-size: 13px;
    
    height: 15%;
    width: 25%;
    top: -5%;
    left:8%;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: #F07444;
}

.ftmultipleBet{
    color: #F07444;
    border-radius: 10px;
    font-size: 13px;
    
    height: 15%;
    width: 25%;
    top: 0%;
    border: 1px solid #F07444 ;


    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
    position: absolute;
    top: -5%;
    left: 50%;
}

.ftmultipleBetSelected{
    color: white;
    border-radius: 10px;
    font-size: 13px;
    
    height: 15%;
    width: 25%;
    top: 0%;
    border: 1px solid #F07444 ;


    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: #F07444;
    position: absolute;
    top: -5%;
    left: 50%;
}

.ftChangeToTransact{
    position: relative;

    height: 9%;
    width: 5%;

    background: white;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #18340C ;
    
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    top:0%;
    left:83%;
    font-family: 'Spinnaker';
    color: #18340C;

}




.ftBetList{
    position: relative;
    top:0%;
    left:0%;

}

.ftgoBack{
    position: absolute;
    top: -9%;
    left: -15%;
    scale: 0.8;
}

.ftgoBack:hover{
    cursor: pointer;
}


/*------ Bet History*/

.ftbetHistBox{
    width: 40.5vw;
    border: 2px solid #18340C;
    border-radius: 10px;
    margin: 10px 0px 0px 12px;
    display: flex;
    font-family: 'Spinnaker';
    padding-bottom: 4%;
    justify-content: space-around;

}

.ftResultsInfo{
    position: flex;
    font-size: 13px;
    left: 60% ;
    text-align: center;
    padding-bottom: 2% ;
    margin-top: 6%;
    width: 35%;
}

.ftSingleBetDiv{
    position: relative;
    padding-top: 3%;

    padding-bottom: 3%;
    
}

.ftbetHistInfo{
    font-family: 'Spinnaker';
    margin: 20px 0px 0px 20px;
    width: 50%;
    position: relative;
    border-right: 2px dashed #18340C;
    
}





/*---- PopUp ---- */

.ftboxConfirm{
    background:  white;
    opacity: 100;
    height: 60vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;


}

.ftinputNum{
    position: absolute;
    left : 32%;
    height: 8%;
    width: 35%;
    top: 25%;
    text-align: center;
    border-radius: 30px;
}


.selecioneForma{
    position: absolute;
    left : 35%;
    top: 40%;
}

.submitButton{
    scale: 0.7;
}

.ftclosePop{
    position: absolute;
    right:2%;
    top:2%;
    scale : 0.5;
    height: 10%;

    font-weight: 400;
    font-size: 25px;
}



/*----- PopUp ------*/


.ftboxConfirmOp{
    background:  white;
    opacity: 100;
    height: 50vh;
    width: 45vw;
    position: absolute;
    left: 27.5vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;


}

.ftinputNum{
    position: absolute;
    left : 32%;
    height: 8%;
    width: 35%;
    top: 25%;
    text-align: center;
    border-radius: 30px;
}

.ftbuttonPaypal {
    width: 20%;
    height: 33%;
    border-radius: 5%;
    position:absolute;
    left: 25%;
    top: 40%;
    scale : 1;
    border: 1px solid grey ;

}

.ftImgMaestro{
    top: 40%;
    left: 55%;

    width: 21%;
    height: 33%;
    border-radius: 5%;
    position:absolute;
    border: 1px solid grey ;
}

.submitButton{
    scale: 0.7;
}




/*------ PopUp Text ------*/

.fth1Pop{
    margin-top: 15px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.fth2Pop{
    margin-top: 15px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.fth3Pop{
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.ftselectWay{
    position: absolute;
    left : 25%;
    top: 20%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}



/*----- PopUpMaestro -----*/
.ftMaestroPopNum{
    position: absolute;
    border-radius: 15px;
    width:35%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid grey;
    left: 20%;

}
.ftMaestroPopCCV{
    position: absolute;
    border-radius: 15px;
    width:15%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid grey;
    left: 60%;

}


.ftOperationValue{
    position: absolute;
    border-radius: 15px;
    width:15%;
    top:50%;
    height: 9%;
    text-align: center;
    border: 1px solid grey;
    left: 54%;

}

.ftOperationValuePrompt{
    top:52.5%;
    position: absolute;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
    left:29%;
}

.ftOperationButton{
    color: #F07444;
    border-radius: 20px;
    font-size: 13px;
    
    height: 10%;
    width: 20%;
    top: 0%;
    border: 1px solid #F07444 ;


    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;

    background-color: white;
    position: absolute;
    top: 75%;
    left: 40%;
}

.ftOperationButton:active{
    background-color: #F07444;
    color: #FEFFFE;
}


.ftPaypalEmail{
    position: absolute;
    border-radius: 15px;
    width:40%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid grey;
    left: 29%;

}


/* ------- PopUpEmail------*/

.ftemailCode{
    position: absolute;
    left : 32%;
    height: 8%;
    width: 35%;
    top: 25%;
    text-align: center;
    border-radius: 10px;
}


.fth3PopEmail{
    position: absolute;
    left : 25%;
    top: 50%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}


.ftcheckBoxEmail{
    position: absolute;
    left : 35%;
    height: 6%;
    width: 35%;
    top: 49%;
    border-radius: 10px;
}

.ftConfirmEmail{
    position: absolute;

    height: 10%;
    width: 18%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    background-color: white;
    
    top: 80%;
    left: 60%;
}


/* ----- PopUpConfirm ----- */

.ftResend{
    position: absolute;

    height: 10%;
    width: 25%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    background-color: white;
    
    top: 80%;
    left: 25%;
}


.ftCode{
    position: absolute;
    left : 32%;
    height: 10%;
    width: 35%;
    top: 35%;
    text-align: center;
    border-radius: 10px;
}


.ftboxCode{
    background:  white;
    opacity: 100;
    height: 45vh;
    width: 45vw;
    position: absolute;
    left: 27.5vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;
}


/*---- TransactionHistory -------*/

.ftTable {
    width: 100%;
    color: #18340C;
    font-family: 'Spinnaker';
    font-style: normal;
  }
    
  th {
    border-bottom: 1px solid black;
  }

  .fttablehead{
    width: 100%;
  }
  
  td {
    text-align: center;
    padding-top: 2%;

  }

  .tableDiv{
    position: absolute;
    width: 85%;
    height : 50%;
    left : 10%;
    top : 40%;
}

.tableSpace{
    position: absolute;
    top: 90px;
    left: 2.5vw;
    width: 55vw;
    height: 70vh;
    font-family: 'Spinnaker';
}



.ftadminImg{
    position: absolute;
    height: 25px;
    left: 35.2vw;
    top: 37vh;
}

.ftaddGameImg{
    position: absolute;
    height: 25px;
    left: 7.2vw;
    top: 37vh;
}