/*------------------------------- PROFILE ---------------------------*/

.ftProfileDark{
    background-color: black;
    height: 100vh;
}

.ftwhiteShadowDark{
    position: relative;
    width: 60vw;
    height: 80vh;
    top: 2vh;
    bottom: 2vh;
    left : 20vw;
    background: #635d5f;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


/*-------------------------------- IDSALDO ---------------------*/

.ftusernameDark{
    color: white;
    font-family: 'Spinnaker';
    font-style: normal;
}

.ftvalDark{
    color: white;
    font-family: 'Spinnaker';
    font-style: normal;

}

/*------------------------------ CHANGEDATA ----------------------------*/


.ftinputNameDark{
    position: absolute;
    height: 10%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 10px;
    top:33%;
    text-align: center;
    background-color: #ABB0B8;
}


.clickHistoryDark{
    position: absolute;
    top:15%;
    left: 0%;
    color: white;
    font-size: 19px;
    font-family: 'Spinnaker';
    font-style: normal;
}

.hNameDark{
    position: absolute;
    top:35%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: white;
}


.ftgoBackDark{
    position: absolute;
    top: -9%;
    left: -15%;
    scale: 0.8;
    filter: invert(100%);
}

.ftgoBackDark:hover{
    cursor: pointer;
}


.ftLogoutDark:active{
    color: #635d5f;
    background-color:#F07444;
}

.fttakeOutDark:active {
    color: white;
    background-color:#F07444;
}

.ftdepositDark:active {
    color: white;
    background-color:#F07444;
}



.ftLogoutDark{

    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;


    top: -10%;
    left: 10%;
}


.fttakeOutDark{
    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    left: 32%;
    top: -10%;
}


.ftdepositDark{
    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    font-size: 13px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    right: 28%;
    top: -10%;
}



.ftChangeToHistDark{
    position: relative;

    height: 9%;
    width: 5%;

    background: white;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #18340C ;

    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    top:14%;
    left:47%;
    font-family: 'Spinnaker';
    color: #18340C;

}

.ftConfirmDark{
    position: absolute;

    height: 15%;
    width: 30%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;


    top: 80%;
    left: 45%;
}

.ftConfirmDark:active{
    background-color: #F07444;
    color: white;
}



.ftChangeSecDark:active{
    color: white;
    background-color:#F07444;
}

.ftChangeSecDark{

    position: absolute;

    height: 15%;
    width: 30%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    top: 80%;
    left: 10%;
}

.ftChangeCancelDark{

    position: absolute;

    height: 15%;
    width: 30%;


    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

    background-color: #635d5f;


    top: 80%;
    left: 10%;
}


.ftPhoneChangeDark{
    position: absolute;
    height: 10%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 10px;
    top:31%;
    text-align: center;
    background:  #A9A9A9;

}


.ftPasswordChangeDark{
    position: absolute;
    height: 10%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 10px;
    top:46%;
    text-align: center;
    background:  #A9A9A9;

}

.ftAddrChangeDark{
    position: absolute;
    height: 10%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 10px;
    top:61%;
    text-align: center;
    background:  #A9A9A9;

}

.fthPhoneNumDark{
    position: absolute;
    top:35%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: white;
}

.fthPassDark{
    position: absolute;
    top:50%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: white;
}

.fthAddressDark{
    position: absolute;
    top:65%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: white;
}



/*------------------------------ POPUPS GERAIS PROFILE ----------------------------*/


.ftbackgroundModalDark{
    background:#000000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 2%;
    width: 100vw;
    height: 98%;
}

/*------------------------------ POPUP CODE EMAIL ----------------------------*/


.ftboxConfirmOpDark{
    background:  #A9A9A9;
    opacity: 100;
    height: 50vh;
    width: 45vw;
    position: absolute;
    left: 25vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;
}

.fth2PopDark{
    margin-top: 15px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #000000;
}

.fth3PopEmailDark{
    position: absolute;
    left : 25%;
    top: 50%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #000000;
}

.ftemailCodeDark{
    position: absolute;
    left : 32%;
    height: 10%;
    width: 35%;
    top: 25%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #18340C;
    background-color: #ABB0B8;

}

.ftcheckBoxEmailDark{
    position: absolute;
    left :43%;
    height: 7%;
    width: 35%;
    top: 50%;
    border-radius: 10px;
    accent-color:#ABB0B8 ;
}

.ftConfirmEmailDark{
    position: absolute;

    height: 12%;
    width: 18%;

    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    background-color: #F07444;


    top: 80%;
    left: 40%;
}

.ftConfirmEmailSelectedDark{
    position: absolute;

    height: 12%;
    width: 18%;

    color:#F07444 ;

    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    background-color:#635d5f;


    top: 80%;
    left: 40%;
}


/*------------------------------ POPUP CODE Confirm ----------------------------*/

.ftboxCodeDark{
    background:  #A9A9A9;
    opacity: 100;
    height: 45vh;
    width: 45vw;
    position: absolute;
    left: 27.5vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;
}

.ftCodeDark{
    position: absolute;
    left : 32%;
    height: 12%;
    width: 35%;
    top: 35%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #18340C;

    background-color: #ABB0B8;

}

.ftConfirmCodeDark{
    position: absolute;

    height: 12%;
    width: 18%;

    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    background-color: #F07444;

    top: 80%;
    left: 60%;
}

.ftResendDark{
    position: absolute;

    height: 12%;
    width: 25%;

    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    background-color: #F07444;

    top: 80%;
    left: 25%;
}

/*------------------------------ POPUP OPERATION  ----------------------------*/

.ftboxConfirmOpsDark{
    background:  #A9A9A9;
    opacity: 100;
    height: 50vh;
    width: 45vw;
    position: absolute;
    left: 25vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;
}


/*------------------------------ POPUP METHOD ----------------------------*/

.fth1PopDark{
    margin-top: 15px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #000000;
}

.ftselectWayDark{
    position: absolute;
    left : 25%;
    top: 20%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #000000;
}

/*------------------------------ POPUP MAESTRO ----------------------------*/


.ftOperationValuePromptDark{
    top:52.5%;
    position: absolute;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #000000;
    left:29%;
}

.ftMaestroPopNumDark{
    position: absolute;
    border-radius: 10px;
    width:35%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid #18340C;
    left: 20%;
    background-color: #ABB0B8;


}
.ftMaestroPopCCVDark{
    position: absolute;
    border-radius: 10px;
    width:15%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid #18340C;
    left: 60%;
    background-color: #ABB0B8;

}


.ftOperationValueDark{
    position: absolute;
    border-radius: 10px;
    width:15%;
    top:50%;
    height: 9%;
    text-align: center;
    border: 1px solid #18340C;
    left: 54%;
    background-color: #ABB0B8;

}


.ftOperationButtonDark{
    color: #000000;
    border-radius: 10px;
    font-size: 13px;

    height: 12%;
    width: 20%;
    top: 0%;
    border: 1px solid #F07444 ;


    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    background-color: #F07444 ;
    position: absolute;
    top: 75%;
    left: 40%;
}

.ftOperationButton:active{
    background-color: #F07444;
    color: #FEFFFE;
}

/*------------------------------ POPUP PAYPAL ----------------------------*/
.ftPaypalEmailDark{
    position: absolute;
    border-radius: 10px;
    width:40%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid #18340C;
    left: 29%;
    background-color: #ABB0B8;

}

/*------------------------------ BET HISTORY ----------------------------*/


.ftsimpleBetDark{
    position: absolute;
    color: #F07444;
    border-radius: 10px;
    font-size: 13px;

    height: 15%;
    width: 25%;
    top: -5%;
    left:8%;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    background-color: #635d5f;
}

.ftmultipleBetDark{
    color: #F07444;
    border-radius: 10px;
    font-size: 13px;

    height: 15%;
    width: 25%;
    top: 0%;
    border: 1px solid #F07444 ;


    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    background-color: #635d5f;

    position: absolute;
    top: -5%;
    left: 50%;
}

.ftTotalGainsDark{
    top:15.5%;
    left: 20%;
    position: absolute;
    font-family: 'Spinnaker';
    font-style: normal;
    color: white;
}

.ftbetHistBoxDark{
    width: 40.5vw;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px 0px 0px 12px;
    display: flex;
    font-family: 'Spinnaker';
    padding-bottom: 3%;
    justify-content: space-around;
    background-color: #323332;
}

.ftbetHistInfoDark{
    font-family: 'Spinnaker';
    margin: 14px 0px 0px 20px;
    width: 50%;
    position: relative;
    border-right: 2px dashed white;

}

.fth4SingleBetHistDark{
    color: white;
}

.ftpSingleBetHistDark{
    color: white;
}

.fth3SingleBetHistDark{
    color: white;
}


.ftthDark{
    color: white;
    border-bottom: 1px solid white;

}

.fttdDark{
    color: white;
}
