/*------------------------------- PROFILE ---------------------------*/

.ftProfileDark{
    background-color: black;
    height: 100vh;
}

.ftwhiteShadowDark{
    position: relative;
    width: 60vw;
    height: 80vh;
    top: 2vh;
    bottom: 2vh;
    left : 20vw;
    background: #292929;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


/*-------------------------------- IDSALDO ---------------------*/

.ftusernameDark{
    color: white;
    font-family: 'Spinnaker';
    font-style: normal;
}

.ftvalDark{
    color: white;
    font-family: 'Spinnaker';
    font-style: normal;

}

/*------------------------------ CHANGEDATA ----------------------------*/


.ftinputNameDark{
    position: absolute;
    height: 10%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 10px;
    top:33%;
    text-align: center;
    background-color: #ABB0B8;
}


.clickHistoryDark{
    position: absolute;
    top:15%;
    left: 0%;
    color: white;
    font-size: 19px;
    font-family: 'Spinnaker';
    font-style: normal;
}

.hNameDark{
    position: absolute;
    top:35%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: white;
}


.ftgoBackDark{
    position: absolute;
    top: -9%;
    left: -15%;
    scale: 0.8;
    filter: invert(100%);
}

.ftgoBackDark:hover{
    cursor: pointer;
}


.ftLogoutDark:active{
    color: #635d5f;
    background-color:#F07444;
}

.fttakeOutDark:active {
    color: white;
    background-color:#F07444;
}

.ftdepositDark:active {
    color: white;
    background-color:#F07444;
}



.ftLogoutDark{

    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: #635d5f;

    top: -10%;
    left: 10%;
}


.fttakeOutDark{
    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: #635d5f;
    left: 32%;
    top: -10%;
}


.ftdepositDark{
    position: absolute;

    height: 15%;
    width: 18%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    font-size: 13px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: #635d5f;
    right: 28%;
    top: -10%;
}



.ftChangeToHistDark{
    position: relative;

    height: 9%;
    width: 5%;

    background: white;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #18340C ;

    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    top:14%;
    left:47%;
    font-family: 'Spinnaker';
    color: #18340C;

}

.ftConfirmDark{
    position: absolute;

    height: 15%;
    width: 30%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

    background-color: #635d5f;

    top: 80%;
    left: 45%;
}


.ftChangeSecDark:active{
    color: white;
    background-color:#F07444;
}

.ftChangeSecDark{

    position: absolute;

    height: 15%;
    width: 30%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    background-color: #635d5f;

    top: 80%;
    left: 10%;
}
