.ftrofile{
    background-color: white;
}

.ftbackgroundModal{
    background:#18340C;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 2%;
    width: 100vw;
    height: 98%;
  }
  

.ftwhiteShadow{

    
    position: relative;

    width: 60vw;
    height: 80vh;
    top: 2vh;
    bottom: 2vh;
    
    left : 20vw;
    
    

    background: #FEFFFE;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/*----- IdSaldo.js-----*/

.ftsquareDiv{
    position: relative;
    height: 25%;
    width: 100%;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.25), 0px 1px rgba(0, 0, 0, 0.25);

}

.ftuserDiv{
    position: absolute;
    width: 100%;
    top : 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftvalDiv{
    position: absolute;
    width: 100%;
    top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ftusername{
    color: #18340C;
    font-family: 'Spinnaker';
    font-style: normal;
}

.ftval{
    color: #18340C;
    font-family: 'Spinnaker';
    font-style: normal;   

}




/*----- ChangeData -----*/



.changeDataOutDiv{
    position: relative;
    width: 85%;
    height : 60%;
    left : 15%;
    top : 10%
}

/*----- ChangeData inputs-----*/

.ftinputName{
    position: absolute;
    height: 12%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 40px;
    top:33%;
    text-align: center;
}

.ftinputSurname{
    position: absolute;
    height: 12%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 40px;
    top : 52%;
}

.ftinputPass{
    position: absolute;
    height: 12%;
    width: 35%;
    right: 15%;
    border: 1px solid #18340C;
    border-radius: 40px;
    top:72%;
}

/*----- ChangeData titles----*/

.clickHistory{
    position: absolute;
    top:15%;
    left: 0%;
    color: #18340C;
    font-size: 19px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.hName{
    position: absolute;
    top:35%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.hSurname{
    position: absolute;
    top:55%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.hPassword{
    position: absolute;
    top:75%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}




/*----- ChangeData buttons -----*/


.fttakeOut:active {
    color: white;
    background-color:#F07444;

    
}

.ftdeposit:active {
    color: white;
    background-color:#F07444;

    
}


.fttakeOut{
    position: absolute;

    height: 15%;
    width: 25%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
    left: 10%;
    top: -10%;
}


.ftdeposit{
    position: absolute;

    height: 15%;
    width: 25%;
    top: 0%;

    color: #F07444;
    border-radius: 10px;
    font-size: 13px;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
    right: 25%;
    top: -10%;
}



.ftChange{
    position: relative;

    height: 9%;
    width: 5%;
    top: 0%;

    background: white;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #18340C ;
    
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    top:14%;
    left:50%;
    font-family: 'Spinnaker';
    color: #18340C;

}

.ftConfirm{
    position: relative;

    height: 7%;
    width: 12%;

    background: white;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #18340C ;
    
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;

    left: 31vw;
    top: 39vh;
}


/*----- BetHistory ----- */


.betHistoryDiv{
    position: relative;
    width: 85%;
    height : 60%;
    left : 15%;
    top : 8%
}

/*----- BetHistory Buttons----- */


.ftsimpleBet:active {
    color: white;
    background-color:#F07444;    
}

.ftmultBet:active {
    color: white;
    background-color:#F07444;    
}

.ftsimpleBet{
    position: absolute;
    color: #F07444;
    border-radius: 20px;
    font-size: 13px;
    
    height: 15%;
    width: 25%;
    top: 0%;
    left:8%;
    border: 1px solid #F07444 ;

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
}

.ftmultipleBet{
    color: #F07444;
    border-radius: 20px;
    font-size: 13px;
    
    height: 15%;
    width: 25%;
    top: 0%;
    border: 1px solid #F07444 ;


    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    background-color: white;
    position: absolute;
    top: 0%;
    left: 50%;
}



.ftBetList{
    position: absolute;
    top:30%;
    left:10%
}

.ftgoBack{
    position: absolute;
    top: -9%;
    left: -15%;
    scale: 0.8;
}



/*---- PopUp ---- */

.ftboxConfirm{
    background:  white;
    opacity: 100;
    height: 60vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;
  
  
  }
  
  .ftinputNum{
    position: absolute;
    left : 32%;
    height: 8%;
    width: 35%;
    top: 25%;
    text-align: center;
    border-radius: 30px;
  }
  
  .ftbuttonPaypal {
    background-image: url(../images/PayPal.jpeg); /* 16px x 16px */
    background-repeat: no-repeat ;
    width: 20%;
    height: 33%;
    border-radius: 5%;
    vertical-align: middle; /* align the text vertically centered */
    position:absolute;
    left: 30%;
    scale: 0.8;
    top: 50%;
  }
  
  .ftbuttonMaestro {
    width: 70%;
    height: 70%;
    border-radius: 5%;
    vertical-align: middle; /* align the text vertically centered */
    position:absolute;
    left: 50%;
    scale: 0.8;
    top: 50%;
  }

  .selecioneForma{
    position: absolute;
    left : 35%;
    top: 40%;
  }
  
  .submitButton{
    scale: 0.7;
  }
  
  .ftclosePop{
    position: absolute;
    right:2%;
    top:2%;
    scale : 0.5;
    height: 10%;
  
    font-weight: 400;
    font-size: 25px;
  
  }



/*----- PopUp ------*/


.ftboxConfirm{
    background:  white;
    opacity: 100;
    height: 60vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 25vh;
    border-radius: 10px;
    text-align: center;
  
  
  }
  
  .ftinputNum{
    position: absolute;
    left : 32%;
    height: 8%;
    width: 35%;
    top: 25%;
    text-align: center;
    border-radius: 30px;
  }
  
  .ftbuttonPaypal {
    width: 20%;
    height: 33%;
    border-radius: 5%;
    position:absolute;
    left: 25%;
    top: 40%;
    scale : 1;
    border: 1px solid grey ;

  }
  
  .ftImgMaestro{
    top: 40%;
    left: 55%;

    width: 21%;
    height: 33%;
    border-radius: 5%;
    position:absolute;
    border: 1px solid grey ;
  }
  
 
  
  .submitButton{
    scale: 0.7;
  }
  



/*------ PopUp Text ------*/

.fth1Pop{
    margin-top: 15px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.fth2Pop{
    margin-top: 15px;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
}

.fth3Pop{
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
 
}

.ftselectWay{
    position: absolute;
    left : 25%;
    top: 20%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
  }



/*----- PopUpMaestro -----*/
.ftMaestroPopNum{
    position: absolute;
    border-radius: 15px;
    width:35%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid grey;
    left: 20%;

}
.ftMaestroPopCCV{
    position: absolute;
    border-radius: 15px;
    width:15%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid grey;
    left: 60%;

}


.ftOperationValue{
    position: absolute;
    border-radius: 15px;
    width:15%;
    top:50%;
    height: 9%;
    text-align: center;
    border: 1px solid grey;
    left: 54%;

}

.ftOperationValuePrompt{
    top:52.5%;
    position: absolute;
    font-family: 'Spinnaker';
    font-style: normal;
    color: #18340C;
    left:29%;
}

.ftOperationButton{
    color: #F07444;
    border-radius: 20px;
    font-size: 13px;
    
    height: 10%;
    width: 20%;
    top: 0%;
    border: 1px solid #F07444 ;


    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;

    background-color: white;
    position: absolute;
    top: 75%;
    left: 40%;
}


.ftPaypalEmail{
    position: absolute;
    border-radius: 15px;
    width:40%;
    top:30%;
    height: 9%;
    text-align: center;
    border: 1px solid grey;
    left: 29%;

}