.Registo{

    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-style:normal;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 47px;
    color: #18340C;

}

.name{
    
    position: absolute;
    top: 28%;
    width: 80%;
    height: 7%;
    border-radius: 30px;
    left: 10%;

}

.email{
    
    position: absolute;
    top: 38%;
    width: 80%;
    height: 7%;
    border-radius: 30px;
    left: 10%;

}

.passsword{
    position: absolute;
    top: 48%;
    border-radius: 30px;

    width: 80%;
    height: 7%;
    left: 10%;

}

.NIF{
    
    position: absolute;
    top: 78%;
    width: 38%;

    left: 53%;
    height: 7%;    

}

.birthdate{
    
    position: absolute;
    top: 68%;
    width: 38%;
    left: 53%;
    height: 7%;

}

.address{
    
    position: absolute;
    top: 58%;
    width: 80%;
    height: 7%;
    left: 10%;

}

.phone{
    
    position: absolute;
    top: 78%;
    width: 38%;
    height: 7%;
    left: 10%;

}

.CC{
    
    position: absolute;
    top: 68%;
    width: 38%;
    height: 7%;
    left: 10%;
}


.acceder{
    position: absolute;

    left: 10%;
    height: 8%;
    width: 80%;
    top: 92%;



    background: #F07444;
    border-radius: 20px;
    font-size: 13px;
    

    font-family: 'Spinnaker';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #18340C;
}


.rasbetLogo{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    scale: 1;
    position: absolute;
    width: 30%;
    

}

.regAccount{
    position: absolute;
    top : 5%;
    left: 3%;
    bottom: 5%;
    width : 40%;
    height: 90%;
    
}

.noAccount{
    position: absolute;
    bottom: 18%;
    font-size: 1rem;
    color: #18340C;
    left: 40.5%;
}

.noAccountHyper{
    position: absolute;
    bottom: 18%;
    font-size: 1rem;
    color: #18340C;
    left: 42%;
}

.noPass{
    position: absolute;
    bottom: 45%;
    color: #18340C;
    right: 10% ;
}



/*
.email{
    
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    height: 7%;
    border-radius: 30px;

}

.passsword{
    position: absolute;
    top: 35%;
    left: 10%;
    border-radius: 40px;
    width: 80%;
    height: 7%;

}

.NIF{
    
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
    height: 7%;    

}

.birthdate{
    
    position: absolute;
    top: 55%;
    left: 10%;
    width: 80%;
    height: 7%;

}

.address{
    
    position: absolute;
    top: 65%;
    left: 10%;
    width: 80%;
    height: 7%;

}

.phone{
    
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
    height: 7%;

}

.CC{
    
    position: absolute;
    top: 85%;
    left: 10%;
    width: 80%;
    height: 7%;

}*/