/*----- regAccount -----*/


.ftRegisterTitle{

    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-style:normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #18340C;
    font-family: 'Spinnaker';
    
}

.fterrorReg{
    position: absolute;
    top:87%;
    left:39%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: red;
}

.fterrorReg2{
    position: absolute;
    top:87%;
    left:38%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: red;
}


.ftnameReg{
    
    position: absolute;
    top: 28%;
    width: 80%;
    height: 6%;
    border-radius: 30px;
    left: 10%;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;

}

.ftemailReg{
    
    position: absolute;
    top: 38%;
    width: 80%;
    height: 6%;
    border-radius: 30px;
    left: 10%;
    text-align: center;
    border: 1px solid black;

}

.ftpassswordReg{
    position: absolute;
    top: 48%;
    border-radius: 30px;

    width: 80%;
    height: 6%;
    left: 10%;

    text-align: center;
    border: 1px solid black;

}

.ftNIFReg{
    
    position: absolute;
    top: 78%;
    width: 38%;

    left: 53%;
    height: 6%;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;

}

.ftbirthdateReg{
    
    position: absolute;
    top: 68%;
    width: 38%;
    left: 53%;
    height: 6%;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;

}

.ftaddressReg{
    
    position: absolute;
    top: 58%;
    width: 80%;
    height: 6%;
    left: 10%;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;

}

.ftphoneReg{
    
    position: absolute;
    top: 78%;
    width: 38%;
    height: 6%;
    left: 10%;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;

}

.ftCCReg{
    
    position: absolute;
    top: 68%;
    width: 38%;
    height: 6%;
    left: 10%;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;

}


.acceder{
    position: absolute;

    left: 11%;
    height: 8%;
    width: 80%;
    top: 92%;



    background: #F07444;
    border-radius: 20px;
    font-size: 13px;
    

    font-family: 'Spinnaker';
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;

    color: #18340C;
    border: 1px solid #F07444;

}

.regAccount{
    position: absolute;
    top : 5%;
    left: 3%;
    bottom: 5%;
    width : 40%;
    height: 90%;
    
}

.ftgoBackReg{
    position: absolute;
    top: 19%;
    left: 0%;
    scale: 0.8;
}