.NavBar{

    background-color: #18340C;
    height: 80px;
    font-family: Spinnaker;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;

}

.welcomeUser{

    color: #FFFFFF;
    margin: 20px;

}

*{
    margin: 0
}

.search{

    display: flex;

}


.searchItem{

    margin-top: 10px;
    padding: 30px;
    color: #FFFFFF;

}

.searchItemHighlighted{

    margin: 30px;
    color: #18340C;
    background: #FEFFFE;
    border-radius: 10px;
    padding: 10px;

}

.button{
    font-family: Spinnaker; ;
}