
.top{
    background-color: #E8E4E4;
    margin: 0px 10px 0px 10px;
    height: 20px;
    top: 10px;
    padding: 5px 0px 10px 10px;
    width: 93%;
    position: relative;
}

.game{
    font-family: Spinnaker;
    font-size: 18px;
    font-weight: 800;
}

.close{
    position: absolute;
    top:10px;
    right: 5px;
}


.bottom{
    background-color: #E8E4E4;
    margin: 0px 10px 0px 10px;
    height: 40px;
    top: 15px;
    padding: 0px 0px 0px 10px;
    width: 93%;
    position: relative;
}

.bet{
    font-family: Spinnaker;
    font-size: 15px;
    padding-top: 10px;
}

.quote{
    font-family: Spinnaker;
    position: absolute;
    top: 5px;
    right: 5px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 90px;
    padding: 4px;
}

.amount{
    font-family: Spinnaker;
    position: absolute;
    top: 5px;
    right: 110px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 90px;
    padding: 4px;
    height: 20px;
    text-align: center;
}

