

.main{
    background: #FAFAFA;
    border: 1px solid #000000;
    border-radius: 20px;
    margin: -15px 20px 0px 10px;
    width: 45%;
    height: 87vh;
    

}

.title{

    text-align: center;
    font-family: 'Spinnaker';
    margin-top: 5px;

}

.buttons{

    display: flex;
    justify-content: center;
    margin: 20px;
    

}

.typeNotSelected{

    width: 150px;
    height: 30px;
    font-family: 'Spinnaker';
    background-color: #FAFAFA;
    border-width: thin;

}

.typeSelected{

    width: 150px;
    height: 30px;
    background-color: #323332;
    color: #FAFAFA;
    border-width: thin;
    font-family: 'Spinnaker';
    
}