/*
h1 {
    text-align: center;
    color: #06D85F;
    margin: 40px 0;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
   
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    height:50%;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
*/


.boxConfirm{
  background:  white;
  opacity: 100;
  height: 60vh;
  width: 50vw;
  position: absolute;
  left: 25vw;
  top: 25vh;
  border-radius: 10px;
  text-align: center;


}

.inputNum{
  position: absolute;
  left : 30%;
}

.buttonPaypal {
  background-image: url(../images/PayPal-Logo_192x192.jpeg); /* 16px x 16px */
  background-repeat: no-repeat ;
  width: 20%;
  height: 33%;
  border-radius: 5%;
  vertical-align: middle; /* align the text vertically centered */
  position:absolute;
  left: 30%;
  scale: 0.8;
  top: 50%;
}

.buttonMaestro {
  background-image: url(../images/logo-visa-28_191x185.jpeg); /* 16px x 16px */
  background-repeat: no-repeat ;
  width: 20%;
  height: 33%;
  border-radius: 5%;
  vertical-align: middle; /* align the text vertically centered */
  position:absolute;
  left: 50%;
  scale: 0.8;
  top: 50%;
}

.selecioneForma{
  position: absolute;
  left : 35%;
  top: 40%;
}

.submitButton{
  scale: 0.7;
}

.close{
  position: absolute;
  width: 10%;
  scale: 0.5;
  right:5%;
}