.ftEmailRecover{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 8%;

    text-align: center;
    

    border: 1px solid #18340C;
    border-radius: 10px; 
}

.fterrorRecover{
    position: absolute;
    top:59%;
    left:37%;
    font-family: 'Spinnaker';
    font-style: normal;
    color: red;
}