
.backgroundBlack{
    background-color: black;
    height: 100vh;
}

.goBackImg3Dark{
    position: absolute;
    z-index: 2;
    left: 21vw;
    top: 15vh;
    filter: invert(100%);
}

.goBackImg3Dark:hover{
    cursor: pointer;
}